p,h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

hr {
  border: 2px solid #0064FF;
  border-radius: 10px;
}

.short {
  width: 20%;
}

.blue {
  color: #0064FF;
}

/* NAVIGATION */
/* =============================================================================== */
#navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    transition: background 0.3s;
    background-color: rgba(58, 58, 58, 0);
    color: white;
  }
  
  #navbar .home {
    margin-left: 200px;
    color: white;
  }

  #navbar .home img {
      height: auto;
      width: 250px;
  }

  @media(max-width: 1024px){
    #navbar .home {
        margin-left: 100px;
    }
  }
  
  .navbar-links ul {
    margin: 0;
    margin-right: 200px;
    padding: 0;
    display: flex;
  }

  @media(max-width: 1024px){
    .navbar-links ul {
        margin-right: 100px;
    }
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 30px 2rem 30px 2rem;
    display: block;
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar-links li a:hover {
    background-color: rgba(87, 87, 87, 0.788);
  }
  
  .toggle-button {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .toggle-button {
      display: flex;
      top: 1.7rem;
    }
  
    #navbar .home {
      margin-left: 1rem;
    }
  
    .navbar-links {
      display: none;
      width: 100%;
    }
  
    #navbar {
      flex-direction: column;
      align-items: flex-start;
      background-color: rgb(58, 58, 58);
      text-align: center;
    }
  
    html {
        scroll-behavior: smooth;
    }
    
    .navbar-links ul {
      margin-right: 0px;
      width: 100%;
      flex-direction: column;
    }

    .navbar-links li  {
      margin: 1rem;
      padding: 0rem 0rem 0rem 0rem;
    }
  
    .navbar-links li a {
      margin: 1rem;
      padding: 0rem 0rem 0rem 0rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
  }

  .cus-nav {
      background-color: rgb(58, 58, 58) !important;
  }
/* =============================================================================== */

  /* Header image, content */
  /* =============================================================================== */
  .masthead {
    display: flex;
    align-items: center;
    background-image: url("../img/bg-blue1.jpg");
    color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
    margin-top: -78px;
    -webkit-animation: fade-in ease 0.7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation: fade-in ease 0.7s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  }

  .masthead h1 {
    font-size: 72px;
    padding-left: 50px;
  }

  .masthead p {
    font-size: 34px;
    padding-left: 50px;
  }

  .bg-color {
    margin-top: 50px !important;
    background-color: rgba(20, 20, 20, 0.486);
    height: 300px;
    width: 33% !important;
  }

  @media (max-width: 1320px){
    .bg-color {
      width: 40% !important;
    }

    .masthead h1 {
      font-size: 64px;
      padding-left: 50px;
      padding-top: 20px;
    }
  
    .masthead p {
      font-size: 28px;
      padding-left: 50px;
    }
  }

  @media (max-width: 1024px) {
    .bg-color {
      width: 50% !important;
    }
  }

  @media (max-width: 768px) {
    .bg-color {
      width: 100% !important;
      text-align: center;
    }

    .masthead h1 {
      font-size: 64px;
      padding-left: 0px;
      padding-top: 20px;
    }
  
    .masthead p {
      font-size: 28px;
      padding-left: 0px;
    }
  }
  /* =============================================================================== */

/* Page content */
/* =============================================================================== */
section {
  height: 90vh;
  width: 100%;
  background-color: rgb(250, 250, 250);
}

.section-dark {
  background-color: rgb(235, 235, 235);
}

.section-last {
  background-color: rgb(250, 250, 250);
}

/* First section */
.container-first {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15% 15% 45% 10% 15%;
  grid-template-areas: 
  ". . . . . . . . . . . ."
  ". . . title title title title title title . . ."
  ". . . text text text text text text . . ."
  ". . . links1 links1 links2 links2 links3 links3 . . ."
  ". . . . . . . . . . . .";
}

@media (max-width: 1300px) {
  .container-first {
    display: grid;
    width: 100%;
    height: 100%;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% 15% 45% 10% 15%;
    grid-template-areas: 
    ". . . . . . . . . . . ."
    ". . . title title title title title title . . ."
    ". . . text text text text text text . . ."
    ". . links1 links1 links2 links2 links2 links2 links3 links3 . ."
    ". . . . . . . . . . . .";
  }

  .links1 {
    grid-area: links1;
    align-self: center;
    text-align: center;
    font-size: 15px;
  }
  
  .links2 {
    grid-area: links2;
    align-self: center;
    text-align: center;
    font-size: 15px;
  }
  
  .links3 {
    grid-area: links3;
    align-self: center;
    text-align: center;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .container-first {
    display: grid;
    width: 100%;
    height: 100%;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% 15% 45% 10% 15%;
    grid-template-areas: 
    ". . . . . . . . . . . ."
    ". . title title title title title title title title . ."
    ". . text text text text text text text text . ."
    ". links1 links1 links1 links2 links2 links2 links2 links3 links3 links3 ."
    ". . . . . . . . . . . .";
  }

  .text {
    grid-area: text;
    overflow: hidden;
  }

  .text p {
    font-size: 18px !important;
  }
}

.title {
  grid-area: title;
  align-self: center;
}

.text {
  grid-area: text;
  overflow: hidden;
}

.text p {
  font-size: 20px;
  margin-top: 0px;
}

.links1 {
  grid-area: links1;
  align-self: center;
  text-align: center;
}

.links2 {
  grid-area: links2;
  align-self: center;
  text-align: center;
}

.links3 {
  grid-area: links3;
  align-self: center;
  text-align: center;
}

.main-head {
  text-align: center;
  font-size: 72px;
  margin: auto;
}

@media (max-width: 1174px) {
  .main-head {
    font-size: 50px;
  }
}

@media (max-width: 612px) {
  .main-head {
    font-size: 30px;
  }

  .container-first {
    display: grid;
    width: 100%;
    height: 100%;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 15% 15% 45% 7% 7% 7% 4%;
    grid-template-areas: 
    ". . . . . . . . . . . ."
    ". . title title title title title title title title . ."
    ". . text text text text text text text text . ."
    ". . . links1 links1 links1 links1 links1 links1 . . ."
    ". . . links2 links2 links2 links2 links2 links2 . . ."
    ". . . links3 links3 links3 links3 links3 links3 . . ."
    ". . . . . . . . . . . .";
  }
}

/* Second section */
.container-mid {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15% 20% 40% 25%;
  grid-template-areas: 
  ". . . . . . . . . . . ."
  ". . . . title2 title2 title2 title2 . . . ."
  ". . box1 box1 . box2 box2 . box3 box3 . ."
  ". . . . . . . . . . . .";
}

@media (max-width: 1300px) {
  .container-mid {
    display: grid;
    width: 100%;
    height: 100%;
  
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 15% 20% 40% 25%;
    grid-template-areas: 
    ". . . . . . . . . ."
    ". . . title2 title2 title2 title2 . . ."
    ". box1 box1 . box2 box2 . box3 box3 ."
    ". . . . . . . . . .";
  }
}

@media (max-width: 768px) {
  .container-mid {
    display: grid;
    width: 100%;
    height: 100%;

    justify-content: space-between;
    gap: 10px;
  
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 15% 20% 40% 25%;
    grid-template-areas: 
    ". . . . . . . . . . ."
    ". . . title2 title2 title2 title2 title2 . . ."
    ". box1 box1 box1 box2 box2 box2 box3 box3 box3 ."
    ". . . . . . . . . . .";
  }
}

@media (max-width: 700px) {
  .container-mid {
    display: grid;
    width: 100%;
    height: 100%;

    justify-content: space-between;
    gap: 10px;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4% 15% 22% 22% 22% 15%;
    grid-template-areas: 
    ". . . . . . . . . . . ."
    ". . . title2 title2 title2 title2 title2 title2 . . ."
    ". . box1 box1 box1 box1 box1 box1 box1 box1 . ."
    ". . box2 box2 box2 box2 box2 box2 box2 box2 . ."
    ". . box3 box3 box3 box3 box3 box3 box3 box3 . ."
    ". . . . . . . . . . . .";
  }

  .section-dark {
    height: 200vh;
  }
}

@media (max-width: 400px) {
  .section-dark {
    height: 260vh;
  }
}

.title2 {
  grid-area: title2;
  align-self: center;
}

.sec-head {
  text-align: center;
  font-size: 72px;
  margin: auto;
}

@media (max-width: 1174px) {
  .sec-head {
    font-size: 50px;
  }
}

@media (max-width: 612px) {
  .sec-head {
    font-size: 30px;
  }
}

.box1 {
  border: 4px solid #0064FF;
  border-radius: 20px;
  grid-area: box1;
  text-align: center;
  transition: ease-in-out 0.2s;
  background-color: rgb(250, 250, 250);
}

.box1:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px;
}

.box2 {
  border: 4px solid #0064FF;
  border-radius: 20px;
  grid-area: box2;
  text-align: center;
  transition: ease-in-out 0.2s;
  background-color: rgb(250, 250, 250);
}

.box2:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px;
}

.box3 {
  border: 4px solid #0064FF;
  border-radius: 20px;
  grid-area: box3;
  text-align: center;
  transition: ease-in-out 0.2s;
  background-color: rgb(250, 250, 250);
}

.box3:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px;
}

/* Third section */
.container-last {
  display: grid;
	width: 100%;
  height: 100%;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 10% 15% 30% 30% 15%;
  grid-template-areas:
  ". . . . . . . . . . . ."
  ". . . . title3 title3 title3 title3 . . . ."
  ". . team1 team1 team1 team1 team2 team2 team2 team2 . ."
  ". . team3 team3 team3 team3 team4 team4 team4 team4 . ."
  ". . . . . . . . . . . .";
}

@media (max-width: 1520px) {
  .container-last {
    display: grid;
    width: 100%;
    height: 100%;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 15% 30% 30% 15%;
    grid-template-areas:
    ". . . . . . . . . . . ."
    ". . . . title3 title3 title3 title3 . . . ."
    ". team1 team1 team1 team1 team1 team2 team2 team2 team2 team2 ."
    ". team3 team3 team3 team3 team3 team4 team4 team4 team4 team4 ."
    ". . . . . . . . . . . .";
  }
}

@media (max-width: 1024px) {
   .h2-team {
     font-size: 220px !important;
   }

   .container-last {
    display: grid;
    width: 100%;
    height: 100%;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 10% 20% 20% 20% 20% 5%;
    grid-template-areas:
    ". . . . . . . . . . . ."
    ". . . . title3 title3 title3 title3 . . . ."
    ". . team1 team1 team1 team1 team1 team1 team1 team1 . ."
    ". . team2 team2 team2 team2 team2 team2 team2 team2 . ."
    ". . team3 team3 team3 team3 team3 team3 team3 team3 . ."
    ". . team4 team4 team4 team4 team4 team4 team4 team4 . ."
    ". . . . . . . . . . . .";
  }

  .section-last {
    height: 150vh;
  }
}

@media (max-width: 768px) {
  .container-last {
    display: grid;
    width: 100%;
    height: 100%;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 8% 10% 20% 20% 20% 20% 7%;
    grid-template-areas:
    ". . . . . . . . . . . ."
    ". . . . title3 title3 title3 title3 . . . ."
    ". . team1 team1 team1 team1 team1 team1 team1 team1 . ."
    ". . team2 team2 team2 team2 team2 team2 team2 team2 . ."
    ". . team3 team3 team3 team3 team3 team3 team3 team3 . ."
    ". . team4 team4 team4 team4 team4 team4 team4 team4 . ."
    ". . . . . . . . . . . .";
  }

  .section-last {
    height: 140vh;
  }
}

@media (max-width: 540px) {
  .container-last {
    display: grid;
    width: 100%;
    height: 100%;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 8% 10% 20% 20% 20% 20% 7%;
    grid-template-areas:
    ". . . . . . . . . . . ."
    ". . . . title3 title3 title3 title3 . . . ."
    ". . team1 team1 team1 team1 team1 team1 team1 team1 . ."
    ". . team2 team2 team2 team2 team2 team2 team2 team2 . ."
    ". . team3 team3 team3 team3 team3 team3 team3 team3 . ."
    ". . team4 team4 team4 team4 team4 team4 team4 team4 . ."
    ". . . . . . . . . . . .";

    text-align: center;
    align-content: center;
  }

  .team1 img {
    width: auto;
    margin: 0px !important;
    float: none !important;
    border-radius: 150px;
  }

  .team2 img {
    width: auto;
    margin: 0px !important;
    float: none !important;
    border-radius: 150px;
  }

  .team3 img {
    width: auto;
    margin: 0px !important;
    float: none !important;
    border-radius: 150px;
  }

  .team4 img {
    width: auto;
    margin: 0px !important;
    float: none !important;
    border-radius: 150px;
  }  
  
  .section-last {
    height: 300vh;
  }
}

@media (max-width: 400px){
  .section-last {
    height: 400vh;
  }

  .team1 img {
    width: 90% !important;
    margin: 0px !important;
    float: none !important;
    border-radius: 150px;
  }

  .team2 img {
    width: 90% !important;
    margin: 0px !important;
    float: none !important;
    border-radius: 150px;
  }

  .team3 img {
    width: 90% !important;
    margin: 0px !important;
    float: none !important;
    border-radius: 150px;
  }

  .team4 img {
    width: 90% !important;
    margin: 0px !important;
    float: none !important;
    border-radius: 150px;
  } 
}

.title3 {
  grid-area: title3;
  align-self: center;
}

.last-head {
  text-align: center;
  font-size: 72px;
  margin: auto;
}

@media (max-width: 1174px) {
  .last-head {
    font-size: 50px;
  }
}

@media (max-width: 612px) {
  .last-head {
    font-size: 30px;
  }
}

.sub-title {
  font-size: 20px;
  margin: 0px;
  color: grey;
}

.team1 {
  grid-area: team1;
}

.team1 img {
  width: auto;
  margin: 10px;
  float: left;
  border-radius: 150px;
}

.team1 p {
  padding-right: 15px;
}

.team2 {
  grid-area: team2;
}

.team2 img {
  height: auto;
  width: auto;
  margin: 10px;
  float: left;
  border-radius: 150px;
}

.team2 p {
  padding-right: 15px;
}

.team3 {
  grid-area: team3;
}

.team3 img {
  height: auto;
  width: auto;
  margin: 10px;
  float: left;
  border-radius: 150px;
}

.team3 p {
  padding-right: 15px;
}

.team4 {
  grid-area: team4;
}

.team4 img {
  height: auto;
  width: auto;
  margin: 10px;
  float: left;
  border-radius: 150px;
}

.team4 p {
  padding-right: 15px;
}
/* =============================================================================== */

/* Footer */
/* =============================================================================== */
footer {
  background-color: rgb(58, 58, 58);
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
}

footer p {
  padding-top: 45px;
  margin: 0px;
}

footer p a {
  color: rgb(0, 110, 255);
}

footer p a:focus {
  color: rgb(0, 140, 255);
}