p,h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
}

/* NAVIGATION */
#navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    transition: background 0.3s;
    background-color: rgba(58, 58, 58, 0);
    color: white;
  }
  
  #navbar .home {
    margin-left: 200px;
    color: white;
  }

  #navbar .home img {
      height: auto;
      width: 250px;
  }

  @media(max-width: 1024px){
    #navbar .home {
        margin-left: 100px;
    }
  }
  
  .navbar-links ul {
    margin: 0;
    margin-right: 200px;
    padding: 0;
    display: flex;
  }

  @media(max-width: 1024px){
    .navbar-links ul {
        margin-right: 100px;
    }
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 30px 2rem 30px 2rem;
    display: block;
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar-links li a:hover {
    background-color: rgba(87, 87, 87, 0.788);
  }
  
  .toggle-button {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .toggle-button {
      display: flex;
      top: 1.7rem;
    }
  
    #navbar .home {
      margin-left: 1rem;
    }
  
    .navbar-links {
      display: none;
      width: 100%;
    }
  
    #navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    html {
        scroll-behavior: smooth;
    }
    
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
  
    .navbar-links li a {
      margin: 1rem;
      padding: 0rem 0rem 0rem 0rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
  }

  .cus-nav {
      background-color: rgb(58, 58, 58) !important;
  }

  /* Header image, content */
  .masthead {
    display: flex;
    align-items: center;
    background-image: url("../img/bg-blue1.jpg");
    color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
    margin-top: -78px;
    -webkit-animation: fade-in ease 0.7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation: fade-in ease 0.7s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  }

  .masthead h1 {
    font-size: 72px;
    padding-left: 50px;
  }

  .masthead p {
    font-size: 34px;
    padding-left: 50px;
  }

  .bg-color {
    background-color: rgba(20, 20, 20, 0.486);
    height: 300px;
    width: 33% !important;
  }















  .container-main {
    height: 90vh;
	width: 90vw;
  }

  .container {
    margin-left: 6%;

	display: grid;
	gap: 15px;
	width: 98%;
	height: 100%;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, 25%);
    grid-template-areas:
        "header header header header header header header header header header header header"
		"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
		"cont cont cont cont cont cont cont cont cont sidebar sidebar sidebar"
		"footer footer footer footer footer footer footer footer footer footer footer footer";
}

@media screen and (max-width: 1200px) {
	.container {
		margin-left: 5.5%;
	
		display: grid;
		gap: 15px;
		width: 98%;
		height: 100%;
	
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 25%);
		grid-template-areas:
			"header header header header header header header header header header header header"
			"box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3"
			"cont cont cont cont cont cont cont cont sidebar sidebar sidebar sidebar"
			"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
}

@media screen and (max-width: 960px) {
	.container {
		margin-left: 5.5%;
	
		display: grid;
		gap: 15px;
		width: 98%;
		height: 100%;
	
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(5, 25%);
		grid-template-areas:
			"header header header header header header header header header header header header"
			"box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
			"cont cont cont cont cont cont sidebar sidebar sidebar sidebar sidebar sidebar"
			"footer footer footer footer footer footer footer footer footer footer footer footer"
			"footer footer footer footer footer footer footer footer footer footer footer footer";
	}
}

@media screen and (max-width: 768px) {
	.container {
		margin-left: 5%;
	
		display: grid;
		gap: 15px;
		width: 98%;
	
		grid-template-columns: 1fr;
		grid-template-rows: repeat(10, 20%);
		grid-template-areas:
			"header"
			"box1"
			"box2"
			"box3"
			"cont"
			"sidebar"
			"footer"
			"footer"
			"footer"
			"footer";
	}
}

header {
    border: 1px solid black;
    grid-area: header;
}

.box1 {
    border: 1px solid black;
    grid-area: box1;
}

.box2 {
    border: 1px solid black;
    grid-area: box2;
}

.box3 {
    border: 1px solid black;
    grid-area: box3;
}

.content {
    border: 1px solid black;
    grid-area: cont;
}

.sidebar {
    border: 1px solid black;
    grid-area: sidebar;
}

footer {
    border: 1px solid black;
	grid-area: footer;
	
	display: grid;

	grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "footer-box1 footer-box2 footer-box3 footer-box4";
}

@media screen and (max-width: 960px) {
	footer {
		border: 1px solid black;
		grid-area: footer;
		
		display: grid;
	
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 50%);
		grid-template-areas:
			"footer-box1 footer-box2"
			"footer-box3 footer-box4";
	}
}

@media screen and (max-width: 768px) {
	footer {
		border: 1px solid black;
		grid-area: footer;
		
		display: grid;
	
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 25%);
		grid-template-areas:
			"footer-box1"
			"footer-box2"
			"footer-box3"
			"footer-box4";
	}
}

.footer-box1 {
	margin: 5px;
    border: 1px solid black;
    grid-area: footer-box1;
}

.footer-box2 {
	margin: 5px;
    border: 1px solid black;
    grid-area: footer-box2;
}

.footer-box3 {
	margin: 5px;
    border: 1px solid black;
    grid-area: footer-box3;
}

.footer-box4 {
	margin: 5px;
    border: 1px solid black;
    grid-area: footer-box4;
}