p,h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
}
html {
    background-image: url("../img/bg-blue1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.body {
    width: 1000px;
    height: auto;
    background-color: rgba(245, 245, 245, 0.952);
    margin: auto;
    padding-top: 100px;
    
}
/* v NAVIGATION / HEADER v */
/*=====================================*/

#navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    transition: background 0.3s;
    background-color: rgb(58, 58, 58);
    color: white;
  }
  
  
  #navbar .home {
    margin-left: 200px;
    color: white;
  }

  #navbar .home img {
      height: auto;
      width: 250px;
  }

  @media(max-width: 1024px){
    #navbar .home {
        margin-left: 100px;
    }
  }
  
  .navbar-links ul {
    margin: 0;
    margin-right: 200px;
    padding: 0;
    display: flex;
  }

  @media(max-width: 1024px){
    .navbar-links ul {
        margin-right: 100px;
    }
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 30px 2rem 30px 2rem;
    display: block;
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar-links li a:hover {
    background-color: rgba(87, 87, 87, 0.438);
  }
  
  .toggle-button {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .toggle-button {
      display: flex;
      top: 1.7rem;
    }
  
    #navbar .home {
      margin-left: 1rem;
    }
  
    .navbar-links {
      display: none;
      width: 100%;
    }
  
    #navbar {
      flex-direction: column;
      align-items: flex-start;
      background-color: rgb(58, 58, 58);
      text-align: center;
    }
  
    html {
        scroll-behavior: smooth;
    }
    
    .navbar-links ul {
      margin-right: 0px;
      width: 100%;
      flex-direction: column;
    }

    .navbar-links li  {
      margin: 1rem;
      padding: 0rem 0rem 0rem 0rem;
    }
  
    .navbar-links li a {
      margin: 1rem;
      padding: 0rem 0rem 0rem 0rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
  }

  .cus-nav {
      background-color: rgb(58, 58, 58) !important;
  }
  /* ^ NAVIGATION / HEADER ^ */
/*=====================================*/

/*===============================*/
/*  v AVATARS INFO v  */
.container {
    display: grid;
    grid-template-areas:
    'p1 p2'
    'p3 p4';
    
 }

.p1 , .p2 , .p3 , .p4 {
    display: grid;
   /* background-color: rgba(41, 103, 238, 0.651); */
    margin: 10px 10px;
    height: auto;
    width: auto;
    float: right;
    
}

.imgnav1 , .imgnav2 , .imgnav3 , .imgnav4 {
    padding: 10px auto;
    display: flex;
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-areas:
    'p1 p2'
    'p3 p4';
  }
  .body {
    width: 800px;
    height: auto;
    background-color: rgba(245, 245, 245, 0.842);
    margin: auto;
    padding-top: 100px;
    
  }
  }

@media screen and (min-width: 768px) and (max-width: 960px) {
  .container {
    display: grid;
    grid-template-areas:
    'p1' 
    'p2'
    'p3' 
    'p4';
  }
  .body {
    width: 500px;
    height: auto;
    background-color: rgba(245, 245, 245, 0.842);
    margin: auto;
    padding-top: 100px;
    
  }
  }

@media screen and (max-width: 768px) {
.container {
  display: grid;
  grid-template-areas:
  'p1' 
  'p2'
  'p3' 
  'p4';
}
.body {
  width: 500px;
  height: auto;
  background-color: rgba(245, 245, 245, 0.842);
  margin: auto;
  padding-top: 100px;
  
}
}



/*   ^ AVATARS INFO ^    */    
/*==============================*/

/* ========================= */
/*        v MSG BOX v      */
h3 {
  text-align: center;
  color: rgb(51, 51, 240);
}

  input[type=text], select, textarea {
    color: blue;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=skicka] {
    background-color: rgb(69, 162, 238);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=skicka]:hover {
    background-color: rgb(0, 140, 255);
  }
  
  .msgbox {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5%;
  }

/*          ^ MSG BOX ^        */
/* ================================ */

footer {
    background-color: rgb(58, 58, 58);
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
  }
  
  footer p {
    padding-top: 45px;
  }
  
  footer p a {
    color: rgb(0, 110, 255);
  }
  
  footer p a:focus {
    color: rgb(0, 140, 255);
  }
