body{
    background-color:whitesmoke;
}

h3{
    margin: 20px;
    font-size: 40px;

}
h2{
    font-size:60px;
}

.space{
  margin:150px;
    margin-left: 570px;
}
.bild-i-bild{
    height: 400px;
    width: 800px;
    border-radius: 10px;
    
}

.boxwrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr; 
    }
   .bilderwrapper{
    display: grid;
    grid-template-columns: 2fr 2fr; 
   }

   .bild{
       width: 140px;
       height: 140px;
       border-radius: 10px;
       margin-right: 50px;
   }



.box , .bilder{
    margin: 10px;
    height: 350px;
    width: 700px;   
    border-radius:1px;
    
}
    
.box{
margin-right: 20px;
margin-left:80px;
margin-top:20px;
}   
    

.header , .footer{
    margin: 10px;
    height: 50px;   
    border:solid 1px black;   
    
}
.footer{
    margin-top:100px;
}
.header{
    margin-bottom: 100px;
}

.boxwrapper,.bilderwrapper, .bilder{
    padding-left: 14%;
    padding-right: 20%;
    ;
}

.this{
    float:right;
   
    height:70px;
    width: 70px;
   margin-top: 55px;
   margin-right: 60px;
}
.space{
    padding-right:100%;
    margin-left:;
    

}
h2{
    font-size: 90px;
    text-align: inherit;
    margin-left:500px;
}


@media only screen and (max-width: 1024px){
.box, .bild{
    margin-left:0%;
    margin-bottom: 10px;
}   

    .boxwrapper {
        display: grid;
        grid-template-columns: 2fr 2fr; }
        .bilderwrapper{
            grid-template-columns: 1fr;
        }
    
       
        .bilder{
  margin-left:-140px;
 }
 .bild {
     width: 70px;
     height: 70px;}

     h3{
        font-size: 27px;;
     }

     .space{
         margin-left:30px;
         

     }
     h2{
         font-size: 40px;
         text-align: center;
         margin-left:400px;
     }
     
     


 
 }
 
 

 
 



@media only screen and (max-width: 768px){
     .boxwrapper, .bilderwrapper{
         display: grid;
         grid-template-columns: 1fr; 
         
        }
        
         
         .bilderwrapper{
            display: grid;
            grid-template-columns: 1fr;
            margin-left:20px; 
            
         }
         .boxwrapper, .bilderwrapper, .this{
            margin-left:70px;
         }

         
         
         .box{
             width: 200px;
             height: 200px;
             padding-left:60px;
             padding-bottom:-20;
         }
         .space{
            margin-left:-120px;
         

}

 @media only screen and (max-width: 768px){
      .boxwrapper {
    
       display: grid;  
       grid-template-columns: 1fr;
       margin-right:90‰;
       }
       .box {
        margin: 10px;
        height: 100x;
        width: 200px;   
        
       }
       .bilder{
           margin-left: -85px;
           margin-top: 20px;
        height: 200x;
        width: 400px;   
       

       }
        .this{
          width: 50px;
          height: 50px; 
          margin-left:35%;
          margin-top: 0px;
          margin-bottom: 40px;
      }
      .bild{
          height: 50px;
          width: 50px;
      }


    h3{
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }
    .bild-i-bild{
        height: 200px;
        width: 400px;
    }

    }
    @media only screen and (max-width: 375px){
        .boxwrapper, .bilderwrapper{
            padding-left:0px;
            margin-left:0px;

        }
        h2{
            margin-left:200px;
        }

        .bild-i-bild{
            height: 150px;
            width: 300px;

        }
        .bilderwrapper{
            margin-left: 50px;
            padding-top:10px;
        }
        .bild{
            margin-right: 500px;
        }
         
    
