body{
    background-color:white;
    margin:0px !important;


}
.header,.footer{
    background-color:rgb(11, 126, 165);
}
#navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    transition: background 0.3s;
    background-color: rgb(58, 58, 58);
    color: white;
    
  }
  
  #navbar .home {
    margin-left: 200px;
    color: white;
  }

  #navbar .home img {
      height: auto;
      width: 250px;
  }

  @media(max-width: 1024px){
    #navbar .home {
        margin-left: 100px;
    }
  }
  
  .navbar-links ul {
    margin: 0;
    margin-right: 200px;
    padding: 0;
    display: flex;
  }

  @media(max-width: 1024px){
    .navbar-links ul {
        margin-right: 100px;
    }
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 30px 2rem 30px 2rem;
    display: block;
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar-links li a:hover {
    background-color: rgba(87, 87, 87, 0.788);
  }
  
  .toggle-button {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .toggle-button {
      display: flex;
      top: 1.7rem;
    }
  
    #navbar .home {
      margin-left: 1rem;
    }
  
    .navbar-links {
      display: none;
      width: 100%;
    }
  
    #navbar {
      flex-direction: column;
      align-items: flex-start;
      background-color: rgb(58, 58, 58);
      text-align: center;
    }
  
    html {
        scroll-behavior: smooth;
    }
    
    .navbar-links ul {
      margin-right: 0px;
      width: 100%;
      flex-direction: column;
    }

    .navbar-links li  {
      margin: 1rem;
      padding: 0rem 0rem 0rem 0rem;
    }
  
    .navbar-links li a {
      margin: 1rem;
      padding: 0rem 0rem 0rem 0rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
  }

  .cus-nav {
      background-color: rgb(58, 58, 58) !important;
  }

 .dunno{
     padding: 100px;
 } 

h3{
    margin: 20px;
    font-size: 40px;

}

h3, h2, a {
    font-family: 'Roboto', sans-serif;
}


h2{
    font-size:60px;
}

.space{
  margin:150px;
    margin-left: 570px;
}
.bild-i-bild{
    height: 400px;
    width: 800px;
    border-radius: 10px;
    
}

.boxwrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr; 
    }
   .bilderwrapper{
    display: grid;
    grid-template-columns: 2fr 2fr; 
   }

   .bild{
       width: 140px;
       height: 140px;
       border-radius: 10px;
       margin-right: 50px;
   }



.box , .bilder{
    margin: 10px;
    height: 350px;
    width: 700px;   
    border-radius:1px;
    
}
    
.box{
margin-right: 20px;
margin-left:80px;
margin-top:20px;
}   
    

.header , .footer{
    margin: 10px;
    height: 100px;   
    border:solid 1px black;   
    
}
.footer{
    margin-top:100px;
}
.header{
    margin-bottom: 100px;
}

.boxwrapper,.bilderwrapper, .bilder{
    padding-left: 14%;
    padding-right: 20%;
    ;
}

.this{
    float:right;
   
    height:70px;
    width: 70px;
   margin-top: 55px;
   margin-right: 60px;
}
.space{
    padding-right:100%;
    
    

}
h2{
    font-size: 90px;
    text-align: inherit;
    margin-left:500px;
}
footer {
    background-color: rgb(58, 58, 58);
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
  }
  
  footer p {
    padding-top: 45px;
  }
  
  footer p a {
    color: rgb(0, 110, 255);
  }
  
  footer p a:focus {
    color: rgb(0, 140, 255);
  }


@media only screen and (max-width: 1024px){
.box, .bild{
    margin-left:0%;
    margin-bottom: 10px;
}   
.Navigation li{
    float:right;
    margin-left: 10px;
    font-size: 30px;
    margin-right: 60px;
}
    .boxwrapper {
        display: grid;
        grid-template-columns: 2fr 2fr; }
        .bilderwrapper{
            grid-template-columns: 1fr;
        }
    
       
        .bilder{
  margin-left:-140px;
 }
 .bild {
     width: 70px;
     height: 70px;}

     h3{
        font-size: 27px;;
     }

     .space{
         margin-left:30px;
         

     }
     h2{
         font-size: 40px;
         text-align: center;
         margin-left:400px;
     }
     
.logo{
    display: none;
}     

.footer{
    width:100%;
}

 
 
 
 

 
 



@media only screen and (max-width: 768px){
     .boxwrapper, .bilderwrapper{
         display: grid;
         grid-template-columns: 1fr; 
         
        }
        .Navigation li{
            float:right;
            margin-left: 10px;
            font-size: 23px;
            margin-right: 30px;
        }
        
         
         .bilderwrapper{
            display: grid;
            grid-template-columns: 1fr;
            margin-left:20px; 
            
         }
         .boxwrapper, .bilderwrapper, .this{
            margin-left:70px;
         }

         
         
         .box{
             width: 200px;
             height: 200px;
             padding-left:60px;
             padding-bottom:-20;
         }
         .space{
            margin-left:-120px; 

}
        .footer{
            width:100%;
        }
}

 @media only screen and (max-width: 768px){
      .boxwrapper {
    
       display: grid;  
       grid-template-columns: 1fr;
       margin-right:90‰;
       }
       .box {
        margin: 10px;
        height: 100x;
        width: 200px;   
        
       }
       .bilder{
           margin-left: -85px;
           margin-top: 20px;
        height: 200x;
        width: 400px;   
       

       }
        .this{
          width: 50px;
          height: 50px; 
          margin-left:35%;
          margin-top: 0px;
          margin-bottom: 40px;
      }
      .bild{
          height: 50px;
          width: 50px;
          margin-top:20px;
      }


    h3{
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }
    .bild-i-bild{
        height: 200px;
        width: 400px;
    }

    }
    @media only screen and (max-width: 375px){
        .boxwrapper, .bilderwrapper{
            padding-left:0px;
            margin-left:0px;

        }
        h2{
            margin-left:200px;
        }

        .bild-i-bild{
            height: 150px;
            width: 300px;

        }
        .bilderwrapper{
            margin-left: 50px;
            padding-top:10px;
        }
        .bild{
            margin-left: 40px;
            margin-top:20px;
        }
        .Navigation li{
            margin-left: -20px;
            font-size: 15px;
            
        }
    }
        
         
    
}