.boxwrapper ,.bilderwrapper{
    display: grid;
    grid-template-columns: 2fr 2fr; 
    }


.box , .header , .footer, .bilder{
    margin: 10px;
    height: 200px;      
    border: 1px solid black;
}

.boxwrapper, .bilderwrapper{
    padding-left: 200px;
    padding-right: 200px;
}

.this{
    float:right;
    display: grid;
    grid-template-columns: 4fr 1fr;
    border: 1px solid black;
    height:70px;
    width: 70px;
    margin: 50px;
}
